{{ define "content" -}}
<article class="post">
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ if and .Site.Params.CommentoURL (and (not .Site.BuildDrafts) (not .Site.IsServer)) -}}
<h2>Comments</h2>
{{ partial "commento.html" . }}
{{ end }}
{{ end }}
